#commentsSection{
    background-color: linear-gradient(90deg, rgba(0, 0, 0, 0.096) 0%, rgba(85, 38, 11, 0.5) 100%);
    padding: 5px;
    padding-top: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    height: 30em;
    width: 90vw;
    overflow-y: scroll;
}

    .commentUsername{
        background-color: rgb(255, 243, 231);
        color: black;
    }

    .commentLocation{
        background-color: rgb(255, 243, 231);
        color: black;
    }

    .commentContent{
        background-color: rgb(255, 243, 231);
        color: black;
    }

    .commentBox{
        background-color: white;
        padding: 5px;
        margin-bottom: 5px;
    }