#commentsSection{
    background-color: darkgrey;
    padding: 5px;
    padding-top: 15px;
    display: flex;
    flex-direction: column-reverse;
    height: 30em;
    width: 90vw;
    overflow-y: scroll;
}

    .commentUsername{
        background-color: green;
    }

    .commentLocation{
        background-color: lightblue;
    }

    .commentContent{
        background-color: pink;
    }

    .commentBox{
        background-color: yellow;
        padding: 5px;
        margin-bottom: 5px;
    }