#aria {
  font-family: "Bree Serif";
  src: url("/fonts/BreeSerif-Regular.ttf");
  text-align: center;
}

.previousImg {
  font-family: "Bree Serif";
  src: url("/fonts/BreeSerif-Regular.ttf");
}

button {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.nextImg {
  font-family: "Bree Serif";
  src: url("/fonts/BreeSerif-Regular.ttf");
}

.main-pic {
  height: 470px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.BookGallery {
  text-align: center;
}

h1 {
  text-align: center;
}
