*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.label{
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

.input{
    width: 200px;
}

.textarea{
    min-height: 120px;
}